<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="footer" style="margin-top: 40px; background-color: rgb(252, 250, 250); padding-top: 30px;">
        <footer class="container">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-s6 col-lg-3">
                            <div class="widget widget-about">
                                <p>Urcamera snapping the moment,have IT. Click,Click! Click!!! </p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    Got Question? Call us 24/7
                                    <a href="tel:#" style="color: #FCB941;">+27 656486570</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html" style="color: #FCB941;">About Company</a></li>
                                    <li><a href="#" style="color: #FCB941;">Our Services</a></li>
                                    <li><a href="#" style="color: #FCB941;">How to shop</a></li>
                                    <li><a href="faq.html" style="color: #FCB941;">FAQ</a></li>
                                    <li><a href="contact.html" style="color: #FCB941;">Contact us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4>Customer Service</h4>

                                <ul class="widget-list">
                                    <li><a href="#" style="color: #FCB941;">Payment Methods</a></li>
                                    <li><a href="#" style="color: #FCB941;">Money-back guarantee!</a></li>
                                    <li><a href="#" style="color: #FCB941;">Returns</a></li>
                                    <li><a href="#" style="color: #FCB941;">Shipping</a></li>
                                    <li><a href="#" style="color: #FCB941;">Terms and conditions</a></li>
                                    <li><a href="#" style="color: #FCB941;">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#" style="color: #FCB941;">Sign In</a></li>
                                    <li><a href="cart.html" style="color: #FCB941;">View Cart</a></li>
                                    <li><a href="#" style="color: #FCB941;">My Wishlist</a></li>
                                    <li><a href="#" style="color: #FCB941;">Track My Order</a></li>
                                    <li><a href="#" style="color: #FCB941;">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <p style="text-align:center;">Copyright © 2023 MolahloeLE. All Rights Reserved.</p>
                    
                </div>
            </div>
        </footer>

      </section>
      
</body>
</html>
</body>
</html>